<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/custom.css' %}">
    <link rel="short icon" href="{% static 'portfolio/logo.png' %}">
</head>
<body>
{#Навигационная панель#}
<nav class="navbar navbar-expand-lg bg-black bg-gradient">
  <div class="container-fluid navbar-expand">
    <a class="navbar-brand text-white">
      <img src="{% static 'portfolio/logo.png' %}" alt="" width="30" height="30">
        Lutsenko Sergei
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="btn btn-outline-dark text-white me-2" type="button" aria-current="page" href="{% url 'home' %}">Resume</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark text-white me-2" type="button" href="{% url 'blog:all_blogs' %}">Blog</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white me-2" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Certificate
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% static 'portfolio/stepik_certificate.pdf' %}">Stepik SQL</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav me-0 mb-2 mb-lg-0">
        <li class="navbar me-2 text-white">
          Social links
        </li>
        <li class="nav-item me-2">
            <a class="btn btn-primary icon-vk" href="https://vk.com/no1rjon" target="_blank"> </a>
        </li>
        <li class="nav-item me-2">
        <a class="btn btn-primary icon-github" href="https://github.com/no1rjon" target="_blank"> </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{#Навигационная панель#}

{% block content %} {% endblock %}

<script src="{% static 'portfolio/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>