<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    {% load static %}
</head>
<body>
<h1>Sergei's resume</h1>
<a href="{% static 'portfolio/stepik_certificate.pdf' %}"> Stepik Certificate</a>
<a href="{% url 'blog:all_blogs' %}">Blogs</a>
<br>
<img src="{% static 'portfolio/me_photo.jpg' %}">
{% for project in projects %}
    <h1>{{ project.title }}</h1>
    {{ project.description }}
    <img src="{{ project.image.url }}">

{% endfor %}
</body>
</html>