{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
    <title>Blog</title>
    <br>
    <div class="container">
        <h1 class="text-center text-uppercase fw-bold fs-1">Blog</h1>
        <h2 class="text-center fw-bolder">Write {{ blogs.count }} post{{ blogs.count|pluralize }} in blog</h2>
        {% for blog in blogs %}
            <a href="{% url 'blog:detail' blog.id %}" class="link-dark text-uppercase fs-2">{{ blog.title }}</a>
            <h4 class="fs-4"> Published: {{ blog.date|date:'l d M Y' }}</h4>
            <p>{{ blog.description|truncatechars:125 |safe }}</p>
        {% endfor %}
    </div>
{% endblock %}
